<script type="text/javascript">
  $( function() {
    $( "#product_inward_date" ).datepicker({
      dateFormat: "mm-dd-yy"    
    });
  } );
</script>
<%= form_with(model: product, local: true, url: products_url) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <% if !params["product"].blank?
        type = params["product"]["type"]
      if !type.blank? && type == "Pen"  %>
      <div class="field">
        <%= form.label :color %>
        <%= form.select :color, ['Blue', 'Red', 'Yellow', 'Black'], id: :product_color %>
      </div>
    <% end 
  end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :product_status %>
  </div>

  <div class="field">
    <%= form.label :inward_date %>
    <%= form.text_field :inward_date, id: :product_inward_date %>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :type %>
    <%= form.hidden_field :type, value: params[:type] %>
  <!-- </div> -->

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>